<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <a class="navbar-brand" href="/">Election 2017 Daily</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/articles">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/show">My Highlights</a>
      </li>
    </ul>
  </div>
</nav>
