<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <a class="navbar-brand" href="/">Election 2017 Daily</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <% if(locals.isLoggedIn) { %>
      <li class="nav-item">
        <a class="nav-link" href="/index">My Highlights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Sign Up</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
