<div class="sidebar">
  <h1>NEXY</h1>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <% if(locals.isLoggedIn) { %>
      <li>
        <a href="/highlights">My Highlights</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    <% } else { %>
        <li>
          <a href="/login">Sign In</a>
        </li>
        <li>
          <a href="/register">Sign Up</a>
        </li>
    <% } %>
  </ul>
</div>
