<div class="sidebar">
  <h1>NEXY</h1>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <br >
    <% if(locals.isLoggedIn) { %>
    <hr >
      <li>
        <a href="/highlights">My Highlights</a>
      </li>
    <br >
    <hr >
      <li>
        <a href="/logout">Logout</a>
      </li>
    <br >
    <hr >
    <% } else { %>
    <hr >
      <li>
        <a href="/login">Sign In</a>
      </li>
    <br >
    <hr >
      <li>
        <a href="/register">Sign Up</a>
      </li>
    <br >
    <hr >
    <% } %>
    <li class="credit">
      Designed by <a href="https://twitter.com/alex_yeates"> Alex Yeates</a>
    </li>
    <li class="credit">
      Inspired by <a href="http://iam.beyonce.com/tagged/my_work">I am Beyonce</a>
    </li>
    <li class="credit">
      Credit <a href="https://newsapi.org/">News API</a>
    </li>
    <hr >
  </ul>
</div>
