<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Nexy</title>
  <% include ./partials/stylesheets %>
  <% include ./partials/scripts %>
</head>
<body>
  <main>
    <% include ./partials/navbar %>
    <%- body %>
  </main>
</body>
</html>
