<h1>Your Highlights</h1>

<% user.highlights.forEach(highlight => { %>
    <p><%= highlight.title %></p>
    <img src="<%= highlight.image %>">
    <p><%= highlight.description %></p>
    <p><%= highlight.url %></p>
<% }) %>
