.grid {
  width: 75%;
  float: right;
}

.sessions {
  width: 75%;
  float: right;
  margin-top: 150px;
}

.grid-item {
  float: left;
  width: 33.33%;
  height: 250px;
  overflow: hidden;
  position: relative;
  opacity: 1;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;

  img {
    height: 100%;
    width: 100%;
  }

  .hover {
    opacity: 0;
  }

  &:hover {
    .hover {
      text-align: center;
      opacity: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: white;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition:.5s;
    }
  }
}

.sidebar {
  width: 25%;
  float: left;
  margin-top: 50px;
  height: 640px;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-family: 'Anton', sans-serif;
  text-decoration: underline;
}

h2 {
  font-family: 'Anton', sans-serif;
}

li {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}

.credit {
  font-family: Anton,sans-serif;
  font-size: 12px;
  margin: auto;
  text-decoration: underline;
}

p {
  font-family: 'Anton', sans-serif;
}

hr {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
  width: 180px;
}
